.jumbotron {
  background-color: #f0df65;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
}
.footer {
  padding: 10px 10px 0 10px;
  background-color: #f0df65;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn_res {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
.tab-content {
  padding-top: 10px;
}
